{% extends "base_generic.html" %} {% block content %} {% if form.errors %}
<p>Vaše uporabniško ime in geslo se ne ujemata. Prosimo, poskusite znova.</p>
{% endif %} {% if next %} {% if user.is_authenticated %}
<p>
  Pravice vašega računa ne omogočajo dostopa do tega dela strani. Prosimo,
  zaprosite administratorja za dostop.
</p>
{% else %}
<p>Prijavite se za dostop do te strani.</p>
{% endif %} {% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>
  <input type="submit" value="Prijava" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Ste pozabili geslo?</a></p>

{% endblock %}
