{% extends "base_generic.html" %} {% block content %} {% if validlink %}
<p>Prosimo, vnesite novo geslo.</p>
<form action="" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td>
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Novo geslo:</label>
      </td>
      <td>{{ form.new_password1 }}</td>
    </tr>
    <tr>
      <td>
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Ponovno vpišite novo geslo:</label>
      </td>
      <td>{{ form.new_password2 }}</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Spremeni geslo" /></td>
    </tr>
  </table>
</form>
{% else %}
<h1>Ponastavitev gesla neuspešna</h1>
<p>Prosimo, zaprosite za novo geslo.</p>
{% endif %} {% endblock %}
